<p id="notice"><%= notice %></p>
<h1>Welcome to app.ly!</h1>
<% if user_signed_in? %>
  <li><%= link_to('View Saved Applications or Enter a New Application', applications_path) %> <br>
  <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %> 
  <!--<%#= link_to('Enter A New Application', new_application_path) %> -->      
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path)  %>  
  </li>
<% end %>
<p>App.ly is a tool to help you manage your applications.</p> 

<p>Applying for colleges? Jobs? Scholarships? Internships? We've got you covered.</p> 

<p>Never miss an application deadline again.</p> 

<p>Here's how it works:</p>

<p>YOU choose the type of opportunity you're applying for (e.g. college, job, scholarship, internship, or other) and fill out our customized form with all the particulars including the link to the application's website, it's due date, and the number of recommendations needed. You can add additional information to the form and fill in as little or as much as you wish!</p>

<p>WE send you SMS (text message) reminders to your mobile device letting you know you have an application due. You choose to receive reminders 1 month, 2 weeks, 1 week, and/or 1 day prior to the application's deadline.</p>

<p>Log-in to app.ly on your desktop or mobile device to view all your saved application due dates and information.</p>

<p>Why app.ly? Simple. Success occurs when opportunity meets preparation. Let us handle the prep work and as for you? Go get em' kid.</p> 


