/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
background: rgba(255,255,255,1);
background: -moz-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(244,251,244,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(244,251,244,1)));
background: -webkit-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(244,251,244,1) 100%);
background: -o-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(244,251,244,1) 100%);
background: -ms-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(244,251,244,1) 100%);
background: linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(244,251,244,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4fbf4', GradientType=1 );
}
h1 {
    color: #85BB65;
	display: block;
    font-size: 8em;
    margin-top: .75em;
    margin-bottom: .5em;
    margin-left: 3;
    margin-right: 3;
    font-weight: bold;
    border-bottom-width: 0;
}
h3 {
    color: #85BB65;
	display: block;
    font-size: 2em;
    margin-top: .8em;
    margin-bottom: .5em;
    margin-left: 1.5;
    margin-right: 1.5;
    font-weight: bold;
}
ul.hmenu {
  list-style: none; 
  margin: 0 0 2em;
  padding: 0;
}

ul.hmenu li {
  display: inline;  
}
@import "compass/css3";
@import "compass/css3/transform";
@import url(https://fonts.googleapis.com/css?family=VT323);

body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  @include background-image(linear-gradient(left bottom, rgba(254,182,69,1) 0%, rgba(254,182,69,1) 50%, rgba(241,231,103,1) 100%));
  }

.box {
  position: relative;
  margin: 0 auto;
  height: 400px;
  width: 600px;
}

#nav{
  text-align: center;
}

#title {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "VT323", "Lucida Console", Monaco, monospace;
  color: #50A1DC;
  @include text-shadow(3px 3px 0px rgba(0, 0, 0, 1));
  font-size: 0px;
}

#title span{
  font-size: 100px;
}

.link{
  text-align: center;
  margin-top: 10px;
  font-family: "VT323", "Lucida Console", Monaco, monospace;
  color: #FCFCFC;
  @include text-shadow(3px 3px 0px rgba(0, 0, 0, 1));
  font-size: 0px;
  &:link{
    text-decoration: none;
  }
}

.link span{
  font-size: 68px;
}

.highlight{
  color: #FFDF00;
}

.highlight2{
  color: #F4F4F4;
}
